name: CI Back-end

on:
    push:
        branches:
            - 'main'
        paths:
            - 'sgcmapi/**'
    workflow_dispatch:
    workflow_call:
    pull_request:
        paths:
            - 'sgcmapi/**'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Set up JDK 17
              uses: actions/setup-java@v5
              with:
                distribution: 'temurin'
                java-version: '17'
            - name: Maven Compile/Test
              working-directory: sgcmapi/
              run: mvn compile test
